//登录的外层
.login-wrap{
    width:100%;
    height:100%;
    background:linear-gradient(to right, rgba(58,58,84,1) , rgba(200,200,200,1));
    padding-top:50px;
  }
//登录的表单
.login-account {
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin:50px auto;
    width: 300px;
    padding: 35px 20px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
    text-align: center;
    height: 300px;
    //验证码
    .login-account-validCode{
        width:80%;
        height: 32px;
    }
  }

